.date-group {
    position: absolute;
    float: right;
    right: 0;
    top: 160px;

    padding-right: 300px;
}
.date-group .input-group-btn button {
    height: 34px;
}
.dropdown-menu div {
    text-align: center;
    padding-bottom: 5px;
}
.dropdown-menu.dropdown-menu-mine {
    font-size: 0;
}
.dropdown-menu.dropdown-menu-mine button{
    width: 60px;
    padding: 5px 8px;
}
.dropdown-menu.dropdown-menu-mine .btn-group-head {
    margin-bottom: 35px;
    position: relative;
    width: 180px;
}
.dropdown-menu.dropdown-menu-mine .btn-group-head button{
    position: absolute;
    padding: 3px 5px;
    height: 25px;
    border-radius:1px;
}
.dropdown-menu.dropdown-menu-mine .btn-group-head button.btn-left{
    left: 0;
}
.dropdown-menu.dropdown-menu-mine .btn-group-head button.btn-right{
    right: 0;
}
.dropdown-menu.dropdown-menu-mine .btn-group-head button.btn-middle{
    right: 60px;
}
.dropdown-menu.dropdown-menu-mine .year-group {
    position: relative;
    height: 150px;
    width: 180px;
}
.dropdown-menu.dropdown-menu-mine .year-group button{
    float: left;
    height: 25px;
    padding: 3px 5px;
    border-radius:0;
    width: 50px;
}
.dropdown-menu.dropdown-menu-mine .year-group .group-1 {
    float: left;
    padding-left: 8px;
    width: 60px;
}
.dropdown-menu.dropdown-menu-mine .year-group .group-2 {
    float: left;
    padding-left: 5px;
    width: 50px;
}
.dropdown-menu.dropdown-menu-mine .year-group .group-3 {
    float: left;
    padding-left: 12px;
    width: 50px;
}
.dropdown-menu.dropdown-menu-mine .day-group {
    position: relative;
    top: -5px;
    height: 150px;
    width: 180px;
}
.dropdown-menu.dropdown-menu-mine .day-group button{
    height: 25px;
    width: 25px;
    padding: 2px 2px;
    border-radius:0;
}
